<!DOCTYPE html>
<html lang="en">
<head>
    <title>MVC</title>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <script src="{{ asset('js/require.js') }}" data-main="{{ asset('js/main.js') }}"></script>

    {#<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>#}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Ksiazki</a></li>
                        <li><a href="#">Uzytkownicy</a></li>
                        <li><a href="#">Galerie</a></li>
                        <li><a href="#">Opcje systemu</a></li>
                    </ul>
                </div>
            </div>
        </nav>


        {% block content %}{% endblock %}

    </div>

</body>

</html>